.jumbotron {
    background: url(https://appgrooves.com/cdn/mc/WEATHER/6_w730.jpg)
    no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    background-position-y: -55vh;
}

 



